<div id="nav-bar">
  <div class="logo-container">
    <img id="logo" src="https://dominos.vn/img/logo/domino-horizontal-dark.svg" alt="Logo">
  </div>
  <div class="navBar-middleSection">
    <div class="nav-content">HOME</div>
    <div class="nav-content">MÃ E-VOUCER</div>
    <div class="nav-content">KHUYẾN MÃI</div>
    <div class="nav-content">THỰC ĐƠN</div>
    <div class="nav-content">THEO DÕI ĐƠN HÀNG</div>
    <div class="nav-content">DANH SÁCH CỬA HÀNG</div>
    <div class="nav-content">BLOG</div>
  </div>
  <div class="navBar-leftSection">
    <div class="cart">
      <div class ="iconPerson-container">
        <span class="icon-person"></span>
      </div>
      <div class="iconCart-container">
        <span class="icon-basket"></span>
        <span class="badge">10</span>
      </div>

    </div>
  </div>
</div>
