<div id="product-card-container">
  <div class="product-card">
    <div class="product-image">
      <img [src]="dog.image" alt="Product image" >
    </div>
    <div class="product-info">
      <div class="product-name-container">
        <a [routerLink]="['/dog-detail', dog.id]" (click)="dogService.getDogDetail(dog.id)" class="product-name">
          {{dog.name}}
        </a>
      </div>
      <p class="product-breed">{{dog.breed}}</p>

      <div class="price-info">
        @if (dog.breed == "Poodle") {
          <p>$ <del>{{dog.price}}</del></p>
        }
        @let salePrice = dog.breed == "Poodle" ? dog.price * 0.5 : dog.price;
        <p class="product-price"> {{salePrice}}đ</p>
      </div>
    </div>

    <div style="display: flex; gap: 10px">
        <button>Add to cart</button>
    </div>
  </div>
</div>
